:root {
  --nc-tx-1: #ffffff;
  --nc-tx-2: #eeeeee;
  --nc-bg-1: #000000;
  --nc-bg-2: #111111;
  --nc-bg-3: #222222;
  --nc-lk-1: #00AA00;
  --nc-lk-2: #00AA00;
  --nc-lk-tx: #FFFFFF;
  --nc-ac-1: #00AA00;
  --nc-ac-tx: #FFFFFF;
}
  /* Custom CSS for navigation bar */
  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      background-color: #333;
      color: white;
  }

  nav ul {
      list-style-type: flex;
      padding: 0;
      margin: 0;
  }

  nav ul li {
      display: inline;
      margin-right: 20px;
  }

  nav ul li a {
      text-decoration: none;
      color: white;
  }
  .hc a {
      text-decoration: none;
      color: white;
  }
  .dropdown {
  position: relative;
  display: inline-block;
 }
.hc:hover a {
      text-decoration: none;
      color: #00AA00;
  }
 .dropdown-content {
    display: none;
   position: absolute;
   background-color: #333;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
  }

  .dropdown-content a {
   color: white;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }

 .dropdown:hover .dropdown-content{
    display: block;
    color: white;
 }
.dropdown-content a:hover {
color: #00AA00;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive columns */
  gap: 20px; 
  justify-content: center; /* Center the boxes */
}

#selection-box {
  position: relative;
  border-radius: 20px;
  border: 2px solid #222222;
  border-bottom: 1px solid #222222;
  padding: 10px; 
  width: 150px; /* Consider removing or changing to 'max-width' */
  height: 150px; /* Consider removing or changing to 'max-height' */
  margin: 0; /* Reset browser defaults */
}
div#selection-box:hover { 
  border: 2px solid #FFFFFF !important;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

@import url("https://fonts.xz.style/serve/inter.css");

@import url("https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css");
