@import url("https://fonts.xz.style/serve/inter.css");

@import url("https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css");

:root {
  --nc-tx-1: #ffffff;
  --nc-tx-2: #eeeeee;
  --nc-bg-1: #000000;
  --nc-bg-2: #111111;
  --nc-bg-3: #222222;
  --nc-lk-1: #00AA00;
  --nc-lk-2: #00AA00;
  --nc-lk-tx: #FFFFFF;
  --nc-ac-1: #00AA00;
  --nc-ac-tx: #FFFFFF;
}
  /* Custom CSS for navigation bar */
  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      background-color: #333;
      color: white;
  }

  nav ul {
      list-style-type: flex;
      padding: 0;
      margin: 0;
  }

  nav ul li {
      display: inline;
      margin-right: 20px;
  }

  nav ul li a {
      text-decoration: none;
      color: white;
  }
  .hc a {
      text-decoration: none;
      color: white;
  }
  .dropdown {
  position: relative;
  display: inline-block;
 }
.hc:hover a {
      text-decoration: none;
      color: #00AA00;
  }
 .dropdown-content {
    display: none;
   position: absolute;
   background-color: #333;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
  }

  .dropdown-content a {
   color: white;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }

 .dropdown:hover .dropdown-content{
    display: block;
    color: white;
 }
.dropdown-content a:hover {
color: #00AA00;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.row, .body-options, .eyes-options, .shirt-options, .jacket-options, .pants-options, .shoes-options{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive columns */
  gap: 20px; 
  justify-content: center; /* Center the boxes */
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #ten, #eleven, #twelve, #thirteen, #fourteen, #fifteen, #sixteen, #seventeen, #eighteen {
  position: relative;
  border-radius: 20px;
  border: 2px solid #222222;
  padding: 10px; 
  width: 150px; /* Consider removing or changing to 'max-width' */
  height: 150px; /* Consider removing or changing to 'max-height' */
  margin: 0; /* Reset browser defaults */
}
div#one:hover, div#two:hover, div#three:hover, div#four:hover, div#five:hover, div#six:hover, div#seven:hover, div#eight:hover, div#nine:hover, div#ten:hover, div#eleven:hover, div#twelve:hover, div#thirteen:hover, div#fourteen:hover, div#fifteen:hover, div#sixteen:hover, div#seventeen:hover, div#eighteen:hover { 
  border: 2px solid #FFFFFF !important;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Style for selected box */
.selected, div.selected:hover {
  border-color: #00AA00 !important;
}
